<nav>
  <div class="nav-wrapper">
    <a href="#/home" class="brand-logo">Logo</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li *ngFor="let route of routes">
        <a [routerLink]="['/' + route.path]" routerLinkActive="red lighten-1">{{ route.title }}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- MOBIL -->
<ul class="sidenav" id="mobile-demo">
  <li *ngFor="let route of routes">
    <a [routerLink]="['/' + route.path]" routerLinkActive="red lighten-1">{{ route.title }}</a>
  </li>
</ul>
